.menu {
    display: flex;
    
    background-color: #1F2937;
    color: white;

    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
}

.menulogo {
    flex: 2; 
    margin-left: 100px;
}

.menulink {
    flex: 1;
}